<?xml version="1.1" encoding="UTF-8" ?>
<config>
    <scenario name="test_scenario_1" uuid="5c4d1b14-ce95-44d3-b946-04ec7b9f0bce">
		<input type="rect" />
		<consequent>
			<consequent lock_cells="infrastructure_line">
<!--            <run>consumer_A</run>-->
<!--            <run>consumer_B</run>-->
				<run>consumer_B</run>
			</consequent>
			<concurrent lock_cells="infrastructure_line:road, powerline, fence;tree">
				<run>consumer_A</run>
				<run>consumer_A</run>
				<run>consumer_B</run>
			</concurrent>
		</consequent>
	</scenario>
<!--	Infrastructure line-->
<!--	Road-->
    <scenario name="generate_road" uuid="c4318806-0971-4684-80c0-e6241aa6eb86" notify="generate_road">
		<consequent lock_cells="infrastructure_line:road">
			<run>road_generator</run>
		</consequent>
	</scenario>
	<scenario name="road_osm_import" uuid="5c3b3a12-f008-4fef-8876-e692dcba01c8">
		<input type="rect"/>
		<consequent>
			<consequent>
				<run>road_osm_import</run>
			</consequent>
			<consequent lock_cells="infrastructure_line:road">
				<run>road_generator</run>
			</consequent>
		</consequent>
	</scenario>
<!--	Fence-->
	<scenario name="generate_fence" uuid="e60cf4aa-fbb7-4ee4-a7d3-63e9f34335d5" notify="generate_fence">
		<consequent lock_cells="infrastructure_line:fence">
			<run>fence_generator</run>
		</consequent>
	</scenario>
	<scenario name="fence_osm_import" uuid="7e28a566-d3c6-4730-8387-d384cb72d80b">
		<input type="rect"/>
		<consequent>
			<consequent>
				<run>fence_osm_import</run>
			</consequent>
			<consequent lock_cells="infrastructure_line:fence">
				<run>fence_generator</run>
			</consequent>
		</consequent>
	</scenario>
<!--	Powerline-->
	<scenario name="generate_powerline" uuid="f3678da6-90c6-430a-bc4f-7d7f09b36b89" notify="generate_power_line">
		<consequent lock_cells="infrastructure_line:powerline">
			<run>powerline_generator</run>
		</consequent>
	</scenario>
	<scenario name="powerline_osm_import" uuid="9215ca78-0acb-49a3-b961-0d639ab0b7c9">
		<input type="rect"/>
		<consequent>
			<consequent>
				<run>powerline_osm_import</run>
			</consequent>
			<consequent lock_cells="infrastructure_line:powerline">
				<run>powerline_generator</run>
			</consequent>
		</consequent>
	</scenario>
<!--	Bridge-->
	<scenario name="generate_bridge" uuid="10386012-b05f-4bc6-b4e0-93d4c7b8694d" notify="generate_bridge">
		<consequent lock_cells="infrastructure_line:bridge">
			<run>bridge_generator</run>
		</consequent>
	</scenario>
	<scenario name="bridge_osm_import" uuid="f1c7d746-b18c-4c6d-8fbd-daa584e63b99">
		<input type="rect"/>
		<consequent>
			<consequent>
				<run>bridge_osm_import</run>
			</consequent>
			<consequent lock_cells="infrastructure_line:bridge">
				<run>bridge_generator</run>
			</consequent>
		</consequent>
	</scenario>
	<scenario name="il_import" uuid="0284bc7a-dce4-40ad-8c3e-b025cd925454">
		<input type="rect"/>
		<consequent>
			<concurrent>
				<run>road_osm_import</run>
				<!-- <run>fence_generator</run> -->
				<run>powerline_osm_import</run>
				<run>bridge_osm_import</run>
			</concurrent>
			<concurrent lock_cells="infrastructure_line:road,fence,bridge">
				<run>road_generator</run>
				<!-- <run>fence_generator</run> -->
				<run>powerline_generator</run>
				<run>bridge_generator</run>
			</concurrent>
		</consequent>
	</scenario>
</config>
