<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" 
            type="image/png" 
            href="{{ static('task_viewer/img/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('bootstrap/css/bootstrap-grid.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ static('bootstrap/css/bootstrap-reboot.min.css') }}"/>
    <script src="{{ static('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ static('bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content%}
    {% endblock %}
</body>
<footer>
    <p>Property of CONSTANTA DESIGN 2020</p>
    {% block footer %}
    {% endblock %}
</footer>
</html>