{%- macro random_int(len) -%}
  {%- for _ in range(len) -%}
    {{ range(10) | random }}
  {%- endfor -%}
{%- endmacro -%}


{% extends 'base.html' %}

{% block title %}
Event desk
{% endblock %}

{% block head %}
<script src="{{ static('js/main.js') }}?rndstr={{ random_int(10) }}"></script>
{% endblock %}
{% block content %}

<div id="subscribe">
<!--    {% for mes in messages%}-->
<!--        <p>[{{ mes['time'].strftime('%H:%M:%S') }}] ({{ mes['user'] }}) {{ mes['msg'] }}</p>-->
<!--    {% endfor %}-->
</div>
<div id="loadMore" style="" class="list-group">
 <a class="list-group-item">Load More</a>
</div>
{% endblock %}

{% block footer %}
{% endblock %}