.badge {
    float: right;
}

.btn {
    float: right;
}

.progress {
    margin-bottom: 0px;
    margin-top: 20px;
}


#loadMore {
    padding: 0px 0px;
    margin-top: 30px;
    text-align: center;
}
